{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-5">WELCOME!</h1>

<div class="d-flex justify-content-center mt-5">
  <div class="mt-5">
    {% include 'registration/register.html.twig' %}
  </div>
</div>

{% endblock %}
