{% extends 'base.html.twig' %}

{% block title %}Hello UserHomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<form class="" action="/product/add" method="post">
  <div class="form-group">
    <button class="form-control" type="submit" name="button">Add new product</button>
  </div>
</form>

<button type="button" name="button" onclick="ajax(request('test', 'time=' + (new Date()).getTime()))">Test</button>

{% endblock %}
